[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "streamlit-extras"
version = "0.3.6"
license = "Apache-2.0"
description = "A library to discover, try, install and share Streamlit extras"
authors = [
  "Arnaud Miribel <arnaudmiribel@gmail.com>",
  "Zachary Blackwood <zachary@streamlit.io>",
]
readme = "README.md"
packages = [{ include = "streamlit_extras", from = "src" }]
exclude = ["gallery/"]
keywords = ["python", "streamlit", "ui", "data"]

[tool.poetry.dependencies]
python = ">=3.8,<3.9.7 || >3.9.7,<4.0"  # Apparently streamlit doesn't work with 3.9.7
streamlit = ">=1.0.0"
st-annotated-text = ">=3.0.0"
streamlit-embedcode = ">=0.1.2"
streamlit-keyup = ">=0.1.9"
protobuf = "!=3.20.2"
streamlit-camera-input-live = ">=0.2.0"
streamlit-vertical-slider = ">=1.0.2"
streamlit-toggle-switch = ">=1.0.2"
htbuilder = ">=0.6.2"
streamlit-faker = ">=0.0.2"
streamlit-card = ">=0.0.4"
markdownlit = ">=0.0.5"
streamlit-image-coordinates = "^0.1.1"
entrypoints = ">=0.4"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
black = "^22.8.0"
isort = "^5.10.1"
mypy = "^0.971"
streamlit = ">=1.12.2"

[tools.poetry.urls]
"Homepage" = "https://github.com/arnaudmiribel/streamlit-extras"
"Bug Tracker" = "https://github.com/arnaudmiribel/streamlit-extras/issues"

[tool.isort]
profile = "black"
line_length = 88
skip = ["./.venv", "./direnv", ".env"]

[tool.black]
exclude = '''
(
  /(
      \.vscode
    | \.git
    | \.pytest_cache
    | \.mypy_cache
    | \.venv
    | \.env
    | \.direnv
  )/
)
'''
include = '\.pyi?$'
line-length = 88

[tool.mypy]
files = ["**/*.py"]
follow_imports = "silent"
ignore_missing_imports = true
scripts_are_modules = true
python_version = "3.9"


[tool.ruff]
exclude = [
  ".git",
  ".vscode",
  ".pytest_cache",
  ".mypy_cache",
  ".venv",
  ".env",
  ".direnv",
  "streamlit_patches.py",
]
target-version = "py39"
ignore = ["E501"]
line-length = 88
select = ["B", "E", "F", "W", "I"]

[tool.ruff.per-file-ignores]
